* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffaf1;
    text-align: center;
    font-family: monospace;
}

header {
    background-color: #ff6700;
    color: #fffaf1;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

nav {
    background-color: #3b3b3b;
    color: #fffaf1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav div{
    width: 20%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav div a {
    font-size: 16px;
    color: #fffaf1;
    text-decoration: none;
}

nav div a:visited {
    color: #fffaf1;
    text-decoration: none;
}

section{
    height: calc(100vh - 450px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2{
    margin-bottom: 16px;
}

footer {
    background-color: #3b3b3b;
    color: #fffaf1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin-bottom: 16px;
}

footer div a {
    color: #fffaf1;
    text-decoration: none;
}

footer div a:visited {
    color: #fffaf1;
    text-decoration: none;
}